<!DOCTYPE html>
<html>
<head>
  <title>Canvas App</title>
  <script src="/canvas-all.js"></script>
  <script>
      
    // Optionally wait for Canvas to be ready
    Sfdc.canvas.onReady(() => {
      console.log("Canvas SDK Ready");
      const client = <%- JSON.stringify(context.client) %>;
      console.log("CLIENT: ", client);

      Sfdc.canvas.client.publish(client, {
        name: 'customEventFromCanvas',
        payload: {
          message: 'Hello from Canvas!',
          time: new Date().toISOString()
        }
      });
    });
  </script>
</head>
<body>
  <h1>Salesforce Canvas App</h1>
  <p id="canvasStatus">Canvas SDK loaded</p>
  <button id="sendEventBtn" onclick="sendCanvasEvent()">Send Event to Salesforce</button>
  <!-- <hr>
  <p><strong>Status from Aura:</strong></p>
  <p id="auraMsg">Waiting for message from Aura...</p> -->
</body>
</html>
